<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5042694816-hkgdbjv77iol0tll714s2p3b41pm21be.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5042694816-hkgdbjv77iol0tll714s2p3b41pm21be</string>
	<key>API_KEY</key>
	<string>AIzaSyBPNNj_Hl82DcAEMkjV4xU0oMZwo51mZLc</string>
	<key>GCM_SENDER_ID</key>
	<string>5042694816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urpoint.app</string>
	<key>PROJECT_ID</key>
	<string>ur-point</string>
	<key>STORAGE_BUCKET</key>
	<string>ur-point.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5042694816:ios:010aeca2d4264d7e87f7c5</string>
</dict>
</plist>